/* preferences.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#minute-preferences-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minute-preference {
    background-color: #fff;
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.minute-preference:hover {
    background-color: #eef;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

a:hover {
    color: #0056b3;
}
